.p_m_pmain {
  /* font-family: nanumgothic; */
  font-family: NanumSquareR;
  font-weight: bold;
  /* NanumSquareEB 
  font-family: "NanumSquareL";
    NanumSquareR NanumSquareEB nanumgothic
    */
}

.p_m_jumbo {
  background-size: 100%;
  /* background-image : url('https://as2.ftcdn.net/v2/jpg/01/18/58/85/1000_F_118588555_SaeZEbw78r2QhDB401ND2rSBytQe6o3O.jpg'); */
  background-image: url("https://as1.ftcdn.net/v2/jpg/02/38/21/38/1000_F_238213863_zQSexeDHMvwFYOhGYmIx4ijhK3lGhrZW.jpg");
}

.p_m_jumbo2 {
  background-size: 100%;
  background-image: url("https://as2.ftcdn.net/v2/jpg/01/18/58/85/1000_F_118588555_SaeZEbw78r2QhDB401ND2rSBytQe6o3O.jpg");
  /* background-image : url("/src/image/pm1.jpg"); */
}

.p_m_title,
.p_m_p1 {
  padding-top: 2%;
}
.p_m_title {
  padding-top: 2%;
  color: white;
  font-weight: bold;
}

.p_m_p1 {
  font-size: large;
  font-weight: 700;
  color: white;
}

.p_m_miancontent {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  height: auto;
  /* background-color: rgb(255, 208, 0); */
  overflow: hidden;
}

.p_m_c1_1 {
  margin-bottom: 3%;
}

.p_m_c1_2 {
  box-sizing: border-box;

  /* background: rgb(0, 255, 0); */
}

.p_m_c2 {
  margin-top: 3%;

  /* background-color: sandybrown; */
}
.p_m_c2_2 {
  box-sizing: border-box;

  /* background: rgb(0, 255, 0); */
}

.p_m_c3_1 {
  margin-left: 0.5%;
  /* background-color: red; */
  width: 30%;
  float: left;
}

.p_m_c3_2 {
  /* background-color: red; */
  margin-left: 4%;
  width: 30%;
  float: left;
}

.p_m_c3_3 {
  float: right;
  width: 30%;
  margin-right: 2%;
  /* background-color: red; */
}

.p_m_head_btn2 {
  width: 200px;
  margin: auto;
}

.p_m_cardtitle {
  margin-top: 3%;
  font-size: x-large;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 4%;
  font-weight: bold;
}

.p_m_cardtext {
  font-size: medium;
  text-align: center;
}

.p_m_cardsub {
  font-size: large;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
}
