.fb {
    font-family: NanumSquareR;
    font-size: 14px;
    width: 168px;
    height: 188px;
    background-color: ffffff;
    padding-top: 23px;
    padding-left: 24px;
    padding-right: 22px;
    padding-bottom: 25px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
}

.fb:hover {
    box-shadow: 1px 1px 20px #ddd;
}

.pfpt {
  font-family: NanumSquareB;
  font-size: 14px;
  font-weight: bold;
  padding-top: 25%;
}

.bbtn {
  /* cursor: pointer; */
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 40px;
  white-space: nowrap;
  border-radius: 5px;
  margin: 0px;
  outline: 0px;
  box-sizing: border-box;
  padding: 0px 16px;
  font-family: NanumSquareR;
  border: 1px solid rgb(240, 240, 240);
  color: rgb(61, 61, 61);
  background-color: rgb(255, 255, 255);
  margin-top: 1%;
  font-size: 12px;
}

.bbtn:hover {
  box-shadow: 1px 1px 20px #ddd;
}