.tr1 {
    max-width: 1180px;
    width: 100%;
    margin: auto;
    height: auto;
    padding-bottom: 20%;
}
.tr1_image {
    width: 50%;
    /* border: 1px solid green; */
    float: left;
}

.tr1_text {
    padding-left: 1%;
    width: 50%;
    /* border: 1px solid black; */
    float: right;
}
.title {
    color: rgb(248, 100, 83);
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 14px !important;
}

.description {
    font-weight: 700;
    margin-bottom: 30px;
    color: rgb(61, 61, 61);
    font-size: 20px !important;
    line-height: 28px !important;
}

.tr1_btn {
    height: 48px;
    white-space: nowrap;
    border-radius: 4px;
    width: 70%;
    align-items: center;
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 15px !important;
    line-height: 20px !important;
    color: rgb(61, 61, 61);
    pointer-events: none;
    background-color: rgb(240, 240, 240);
    margin-right: 6%;
    margin-top: 4%;
    opacity: 0.5;

}

.trb_a {
    font-weight: 500;
    font-size: 12px !important;
    line-height: 20px !important;
}