.homeSlider {
    max-width: 1200px;
    background-color: rgba(150, 205, 209, 0.151);
    margin: auto;
    margin-bottom: 50px;
}

.slideImg {
    margin: auto;
    max-width: 500px;
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
}
.slick-next {
    right: 3% !important;
    z-index: 1;

}