body {
    font-family: 'nanumsquareR';
}

.div-G_Detail {
    margin: auto;
    border: #f4f4f4;
    margin-top: 50px;
    width: 1080px;
}

.div2 {
    border-top: 1px solid #e9e6e6;
    border-bottom: 1px solid #e9e6e6;
    padding: 0px 20px 0px 20px;
    width: 1080px;
    margin: auto;
    margin-top: 30px;
}

.table-G_Detail {
    width: 700px;
    margin: auto;
    color: #333;
    line-height: 180%;
    margin-top: 20px;
    vertical-align: middle;
}

.td-g_content {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    width: 600px;
    padding: 10px;
}

.th {
    width: 100px;
    text-align: center;
    width: 130px;
    padding: 13px 0 13px 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #f4f4f4;
}

.td {
    width: 200px;
    text-align: center;
}

.btn1 {
    margin: 20px 15px 0px 0px;
}

.btn2 {
    margin-top: 30px;
}