.page-name {
  margin-top: 50px;
}

.div-qna-table {
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
}

.t-head {
  background: rgb(228, 228, 228);
}

.qna-writeBtn {
  margin-top: 50px;
}
