.footer {
    background-color: rgba(150, 205, 209, 0.151);
    color: gainsboro;
    font-size: 14px;
    position: absolute; 
    bottom: auto; 
    margin-top:80px;
    width: 100%;
}

.footer h4 {
    font-size: 14px;
}

.footerText {
    margin-top: 10px;
}

/* .footerLogo {
    margin-top: 50px;
} */