body {
  /* margin auto */
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: "NanumSquareLight";
  font-family: "NanumSquare";
  font-family: "NanumSquareBold";
  font-family: "NanumSquareExtraBold";
  font-family: "NanumSquareAcb";
  font-family: "NanumSquareAceb";
  font-family: "NanumSquareAcl";
  font-family: "NanumSquareAcr";
}
