/* container */

.homeSlider {
  max-width: 1200px;
  background-color: rgba(150, 205, 209, 0.151);
  margin: auto;
  margin-bottom: 50px;
  /* container */
  max-width: 1080px;
  width: 100%;
}

.slideImg {
  margin: auto;
  max-width: 500px;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
.main_User {
  font-size: 22px;
  text-align: left;
  font-family: "NanumSquareB";
  /* margin-left: 410px; */
  font-weight: bold;
}
.project_component {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  width: 100%;
  height: 400px;
  /* height: 100%; */
}

.card_group {
  float: left;
  width: 25%;
}
.cardtitle_User {
  font-family: "NanumSquareL";
  font-size: 14px;
  text-align: left;
}

/* 카드 이미지 밑에 글씨 패딩~ */
.cardbody_User {
  margin: 15px;
  margin-top: 1px;
}

.cardtext_User {
  font-family: "NanumSquareR";
  font-size: 17px;
  text-align: left;
}

.cardfooter {
  text-align: left;
  font-weight: bold;
  color: red;
  border: 0;
  background-color: white;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}

.main_card {
  /* container */
  max-width: 1080px;
  width: 100%;
  margin: auto;

  text-align: left;
}

.cardgroup_User {
  max-width: 1080px;
  width: 100%;
}
