div.fade.modal-backdrop.show {
  background-color: transparent;
  /* background-color:transparent; */
  box-shadow: none;
}

.modal-header {
  padding: 0;
}

.main-modal {
  margin: 0px;
  padding: 0;
  max-width: 100%;
}
